@function px ($size) {
  @return $size / 2420 * 100rem
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  .contentWrapper {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .content-header {
    img {width: 100%;}
  }
  .content-main {
    flex: 1;
    display: grid;
    padding: px(20) 0;
    grid-template: "box1 box2 box4 box5" 755fr
    "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
    grid-gap: px(28);
    .border {
      border: 1px solid #ddd;
    }
    .section1 {
      grid-area: box1;
    }
    .section2 {
      grid-area: box2;
    }
    .section3 {
      grid-area: box3;
    }
    .section4 {
      grid-area: box4;
    }
    .section5 {
      grid-area: box5;
    }
  }
  .content-footer {}
}